body
{
    background-color: rgb(144, 205, 240);
}
img 
{
    height: 550px;
    width: 100%;
    margin-top: 1%;
    border: 2px solid black;
    border-radius: 50px;
  
} 
h1
{
    background-color: lightsalmon;
    text-align: center;
    padding: 14px;
    border: 2px solid black;
    border-radius: 50px;
}
.button1
{
    border: 2px solid black;
    font-size: 15px;
    padding: 5px;
}

.first
{
    border: 2px solid black;
    background-color: lightyellow;
    border : 2px solid black;
    display: inline-block;
    padding : 20px;
    font-size: 20px;
    border-radius: 50px;
    width: 10%;
    margin-top: 5px;

}
.first_answer
{
    background-color: lightyellow;
    border : 2px solid black;
    display: inline-block;
    padding : 20px;
    font-size: 20px;
    margin-left: 1%;
    border-radius: 50px;
    width: 10%;
}
.second
{
    background-color: lightyellow;
    border : 2px solid black;
    display: inline-block;
    padding : 20px;
    font-size: 20px;   
    margin-left: 5%; 
    border-radius: 50px;
    width: 10%;
}
.second_answer
{
    background-color: lightyellow;
    border : 2px solid black;
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    margin-left: 1%;
    border-radius: 50px;
    width: 10%;
}
.predict
{
    text-align: center;
    background-color: lightyellow;
    border: 2px solid black;
    margin-left: 5% ;
    padding: 20px;    
    border-radius: 50px;
    display: inline-block;
    width: 10%;
} 
